<!-- HTML Code for User Profile -->
<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>My Profile</title>
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link href="/stylesheets/style.css" rel="stylesheet">
       <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
       <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
       <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <![endif]-->
   </head>
<body>
    <video id="my-video" class="video" loop="loop" muted="" width="300" height="150">
        <source src="../vid/walking.mp4" type="video/mp4" />
    </video>

    <nav class="navbar navbar-default">

        <div id="sideNav" class="sidenav">
                <!-- Brand and toggle get grouped for better mobile display -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>       
            <a href="/">Home</a>
            <a href="../profile">Profile Settings</a>
            <a id='logout' href="">Logout</a>
        </div>

        <span onclick="openNav()" class='nav-heart glyphicon glyphicon-cutlery'></span>
    </nav>

    <div id="main">

      <div class="container-fluid">
        <div class="row well">
          <div class="col-md-7">
            
            <!-- This set's the Jumbotrons header. -->

               <div class="page-header"><h2>Username: {{user.username}}</h2></div>
             
               <!-- Other Information. -->
                 <h2>First Name:</h2>
                 <p>{{user.firstName}}</p>
                 <h2>Last Name:</h2>
                 <p>{{user.lastName}}</p>
                 <h2>Email:</h2>
                 <p>{{user.email}}</p>
                 <h2>Phone:</h2>
                 <a href="tel:{{user.phone}}">{{user.phone}}<span class="glyphicon glyphicon-phone glyphicon-align-left" aria-hidden="true"></span></a><br>
                <h3>Favorites: </h3>
                <ul class="favList">
                {{#each user.favoriteTrucks}}
              <!-- {{#unless this.favoriteTrucks}} -->
                  <li>
                      <a href='profile/{{this}}'><h4>{{this}}</h4></a>
                      <a href="/delfavorites/{{this}}" method="post"><button type="button" class="btn btn-danger favs removeBtn">X</button></a>
                  </li>
              <!-- {{/unless}} -->
                {{/each}}
                </ul>
            </div>
          
            <br>
          <div class='col-md-4'>
          <div class="panel panel-warning adminPanel">
              <div class="panel-heading text-center">
                  Update Your Information:
              </div>
          <div class="panel-body text-center">        
              <h1>User</h1>

              <form action="/edituser" method='post'>
                  First Name:<br>
                  <input type="text" name="firstName"><br><br>
                  Last Name:<br>
                  <input type="text" name="lastName"><br><br>
                  Username:<br>
                  <input type="text" name="username"><br><br>
                  Phone Number:<br>
                  <input type="text" name="phone"><br><br>
                  <input type="submit" value="Submit"> 
              </form>
          </div>
        </div>
        </div>
      </div>
    </div>
       <!-- jQuery -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
       <!-- Bootstrap JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script src='../scripts/userfrontend.js'></script>     

</body>
</html>